
.Hero{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: 15%;
    border-radius: 10px;
}
.Hero img{
    width: 500px;
    height: 400px;
}

.Hero-contents{
    align-self: center;
    margin-left:10% ;
}
.Hero-contents h1{
    font-weight: 200;
}